@charset "UTF-8";
/* CSS Document */
html {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("https://media1.tenor.com/images/65c21cf17a6a0e9203f2e6f911339bcd/tenor.gif");
	background-attachment: fixed;
	background-size: 75%;
	max-size: 750px;
	background-position: +50% +50%;
	background-repeat: no-repeat;
	background-color: #000;
	z-index: -2;
}

#logo {
  z-index: +1;
  width: 50%;
  max-height: 400px;
  max-width: 375px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#logo:hover {

}

#curtain {
	height:100%;
	width: 500px;
	background-color: #ba068c;
	z-index: +3;
}

header {
	margin: 0;
}

a {
	text-decoration: none;
	font-style: italic;
	color: #ba068c;
}
