@charset "UTF-8";
/* CSS Document */
html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
}

#BG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("BG_images/cyberpunk_solo.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	z-index: -1;
}

#logo {
  z-index: +1;
  width: 50%;
  max-height: 400px;
  max-width: 375px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#logo:hover {

}

#curtain {
	height:100%;
	width: 500px;
	background-color: #ba068c;
	z-index: +3;
}

header {
	margin: 0;
}

a {
	text-decoration: none;
	font-style: italic;
	color: #ba068c;
}
