@charset "UTF-8";
/* CSS Document */

main {
	position: absolute;
	top: 40%;
	width: 100%;
	min-width: 420px;
	margin: 0 0 80px 0;
	padding: 0;
}

section {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

article {
}

.info {
	background: inherit;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 1em;
	text-align: center;
	font-size: 14px;
	color: #4d033a;
	border-radius: 30px;
	box-shadow: inset 0 0 0 500px rgba(0,204,0,0.5);
}
.info p {
	margin: none;
	padding: none;
}

.randomMedia {
	background: inherit;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 1em;
	text-align: center;
	border-radius: 30px;
	box-shadow: inset 0 0 0 500px rgba(0,204,0,0.5);
}
.randomMedia:hover {

}

.randomButton {
	margin: 20px;
	padding: 5px;
	font-size: 14px;
	font-weight: lighter;
}
.randomButton:hover {

}

.caption {
	padding: 5px;
	color: #ba068c;
	font-weight: lighter;
	font-size: 18px;
}
.caption:hover {

}

.graphic {
	width: 90%;
	height: auto;
	padding: 0 0 1em 0;
}

.movie {
	width: 100%;
	min-height: 320px;
	padding: 0 0 1em 0;
}
