@charset "UTF-8";
/* CSS Document */

html {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

	body {
		background-color: #000;
		margin: 0;
		padding: 0;
	}

		#wrapper {
			position: absolute;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}

			#logo {
			  z-index: +2;
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			  width: 50%;
			  	max-width: 375px;
					min-width: 280px;
			}
			#logo:hover {
			}

			#movieTheater{
				z-index: +1;
				position: absolute;
				width: 100%;
				height: 100%;
				background-image: url("BG_images/theaterBG.gif");
					background-position: center;
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
			}

				#screen1, #screen2{
					z-index: +1;
					position: fixed;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50px);
					width: 75%;
					height: 350px;
						max-width: 650px;
						min-width: 400px;
					border: 10px;
						border-radius: 10px;
					box-shadow: inset 0 0 0 3000px rgba(0,204,0,0.2);
					margin: 0;
					padding: 40px;
				}

			#gallery{
				z-index: +1;
				position: absolute;
				width: 100%;
				height: 100%;
				background-image: url("BG_images/galleryBG.gif");
					background-position: center;
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
			}

				#graphic{
					z-index: +1;
					position: fixed;
					top: 40%;
					left: 50%;
					transform: translate(-50%, -50%);
					height: 35%;
						max-height: 256px;
					border: 30px;
						border-radius: 5px;
					box-shadow: inset 0 0 0 3000px rgba(0,204,0,0.3);
					margin: 0;
					padding: 20px;
						padding-left: 2000px;
						padding-right: 2000px;
				}

			#prev, #next{
				z-index: +1;
				position: fixed;
				top: 66%;
				width: 50px;
			}
			#prev{
				left: 1%;
			}
			#next{
				right: 1%;
			}
