@charset "UTF-8";
/* CSS Document */

#navBG {
  z-index: +1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("BG_images/navBG.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#leftNav {
  position: fixed;
	top: 50%;
	left: 1em;
  height: auto;
	width: 25%;
	transform: translate(0, -50%);
}
#leftNav:hover {
}

#topNav {
  position: fixed;
	top: 1em;
	left: 50%;
	width: auto;
  height: 25%;
	transform: translate(-50%, 0);
}
#topNav:hover {
}

#rightNav {
  position: fixed;
	bottom: 50%;
	right: 1em;
	width: 25%;
  height: auto;
	transform: translate(0, +50%);
}
#rightNav:hover {
}

#bottomNav {
  position: fixed;
	right: 50%;
	bottom: 1em;
	width: auto;
  height: 25%;
	transform: translate(+50%, 0);
}
#bottomNav:hover {
}
