@charset "UTF-8";
/* CSS Document */

#logoTop {
	width: 25%;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 320px;
	max-width: 300px;
	-webkit-filter: blur(2px);
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);
         -o-filter: blur(2px);
            filter: blur(2px);
    -webkit-transition: all 2s 2s linear;
       -moz-transition: all 2s 2s linear;
        -ms-transition: all 2s 2s linear;
         -o-transition: all 2s 2s linear;
            transition: all 2s 2s linear;
}
#logoTop:hover {
	-webkit-filter: blur(0px);
       -moz-filter: blur(0px);
        -ms-filter: blur(0px);
         -o-filter: blur(0px);
            filter: blur(0px);
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
